body{
    font-family: 'Roboto', sans-serif;
}

.headerTitle {
    background-color: #ff0000;
    width: 100%;
}

.headerRow {
    background-color: #ff0000;
    width: 100%;
    height: 3.5rem;
    display: flex;
}

.headerColumnBottom {
    background-color: #ff0000;
    width: 33.333%;
    height: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.headerButtons{
    width: auto;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
